:root {
  --color-text: black;
  --color-text-alt: #767676;
  --color-bg: #f6f5f5;
  --color-bg-alt: white;
  --color-bg-hover: #f1f0f0;
  --color-border: rgba(0, 0, 0, 0.142);
  --color-accent-bg: #53a1ee;
  --color-accent-text: #ffffff;
  --color-danger-bg: #d46565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(234, 234, 234);
    --color-text-alt: #bbbbbb;
    --color-bg: #323232;
    --color-bg-alt: #2e3036;
    --color-bg-hover: #484848;
    --color-border: rgba(255, 255, 255, 0.177);
    --color-accent-bg: #53a1ee;
    --color-accent-text: #ffffff;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.wraper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 200vw;
  display: flex;
  flex-wrap: wrap;
}

main {
  padding: 1rem;
  flex-grow: 1;
  overflow: auto;
}

footer {
  background-color: var(--color-bg-alt);
  border-top: 1px solid var(--color-border);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.footer--controls {
  width: 100%;
  text-align: right;
}

header {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
  align-items: flex-start;
}

h1 {
  margin: 0;
  font-size: 0.85rem;
  flex-grow: 1;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 1.2rem;
}

h3 {
  font-size: 0.85rem;
  font-weight: 400;
  display: block;
  color: var(--color-label);
  margin: 1.5rem 0 1rem 0;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  color: var(--color-label);
  margin: 0.2rem 0 1rem 0;
}

button {
  border: none;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text);
}

label {
  font-size: 0.85rem;
  display: block;
  color: var(--color-text-alt);
  margin: 1.5rem 0 0.5rem 0;
}

input[type="text"] {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  outline: transparent;
  font-size: 1rem;
}

textarea {
  width: 100%;
  min-height: 300px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  outline: transparent;
  font-size: 1rem;
  resize: none;
}

input[type="text"]::placeholder {
  color: var(--color-text-alt);
  font-style: italic;
  font-size: 0.9rem;
}

img,
svg {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-text-alt);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

.hide {
  display: none;
}

.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  flex-basis: 100vw;
  background-color: var(--color-bg);
  transition: all 200ms ease;
}

.page--content {
  overflow-y: auto;
  padding: 1rem;
  flex-grow: 1;
}
.details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
}
.details.show {
  transform: translateX(0);
}
/****** home ******/

.folders {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.folder {
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.folder:hover {
  background-color: var(--color-bg-hover);
}

.folder--icon {
  padding: 1rem;
  background-color: var(--color-bg-hover);
  color: var(--color-text-alt);
  border-radius: 4px;
}

.folder--info {
  flex-grow: 1;
}

.folder--title {
  font-weight: 400;
  color: var(--color-text);
  word-break: break-all;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

.folder--path {
  font-size: 0.8rem;
  color: var(--color-accent-bg);
  word-break: break-all;
}

.folder--chevron {
  padding: 1rem;
  color: var(--color-text-alt);
}
/************/
.return {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
  aspect-ratio: 1;
  background-color: var(--color-bg-alt);
  color: var(--color-accent-bg);
  border-radius: 4px;
}

.return:hover {
  background-color: var(--color-bg-hover);
}

.return-path {
  font-size: 0.9rem;
  color: var(--color-accent-bg);
}

.fa-trash-can {
  color: var(--color-danger-bg);
}
/******************/
.colors {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.color {
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 4px;
}
/********************/
.files {
  columns: 2;
  gap: 1rem;
}

.file {
  margin: 1rem 0;
  display: inline-block;
  position: relative;
}
.file--heading {
  word-break: break-all;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color-text-alt);
}

.file--remouve {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1rem;
  background-color: var(--color-danger-bg);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: none;
}

.file:hover .file--remouve {
  display: block;
}

.file-remouve .fa-solid {
  display: block;
}
/*****************/
.link {
  display: grid;
  grid-template-areas: "icon domain " "icon full";
  column-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-bg-alt);
  margin: 0.2rem 0;
  padding: 0.2rem;
  cursor: pointer;
  width: 100%;
}
.link:hover {
  background-color: var(--color-bg-hover);
}

.link-favicon {
  grid-area: icon;
  width: 48px;
  aspect-ratio: 1/1;
  padding: 0.5rem;
}

.link-domain {
  grid-area: domain;
  margin: 0;
}

.link-full {
  grid-area: full;
  font-size: 0.85rem;
  word-break: break-all;
}
/*****************/

.list_vertical {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list_horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.list_masonry {
  columns: 2;
  gap: 1rem;
}
.list_masonry > * {
  display: inline-block;
  margin-bottom: 1rem;
}
/************/
.note-save {
  background-color: var(--color-accent-bg);
  color: var(--color-accent-text);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 0.4rem 0;
  float: right;
}
.note-save:disabled {
  visibility: hidden;
}
/**************/
.externals {
  display: flex;
  gap: 1rem;
}
.externals button {
  background-color: var(--color-bg-alt);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.externals button:hover {
  background-color: var(--color-bg-hover);
}

.externals .icon {
  margin-right: 0.5rem;
  color: var(--color-text-alt);
}
/**********************/

.script {
  position: relative;
  border: 1px solid var(--color-border);
  padding: 0.5rem;
  margin-block: 0.5rem;
  border-radius: 4px;
}
.script-title {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-text);
}

.script-command {
  color: var(--color-text-alt);
  display: block;
  font-size: 0.85rem;
}

.script-run {
  color: var(--color-accent-bg);
  font-size: 0.8rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: none;
}

.script:hover .script-run {
  display: block;
}
